body{
    margin: 0;
    padding: 0;
    --sbw: 33vw;
}

.underline{
    text-decoration: underline;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: var(--sbw);
    align-items: center;
    justify-content: end;
    background-image: url(./img/giant_leaf.avif);
    background-attachment: fixed;
    background-size: contain;
}

.logo{
    display: flex;
    background-color: black;
    opacity: .5;
    width: var(--sbw);
    color:white;
}

.credit{
    display: flex;
    color: white;
    margin: 1rem;
}

.form{
    display: flex;
    width: calc(100vw - var(--sbw));
    flex-direction: column;
    background-color: aquamarine;
}

.header{
    height: calc(100vh / 3);
    background-color: aliceblue;
}

.body{
    height: calc(100vh / 3);
    background-color: red;
}

.footer{
    height: calc(100vh / 3);
    background-color: blue;
}
