body{
    margin: 0;
    padding: 0;
    --sbw: 33vw;
    --lightergrey: rgb(240, 240, 240);
    --login: #596D48;
    --shadow: rgba(0, 0, 0, 0.25);
    --input-default: #E5E7EB;
    --label-text: rgb(75, 75, 75);
}

.underline{
    text-decoration: underline;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: var(--sbw);
    align-items: center;
    justify-content: space-between;
    background-image: url(./img/giant_leaf.avif);
    background-attachment: fixed;
    background-size: contain;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: var(--sbw);
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 1rem 0;
}

.image{
    display: flex;
}

@font-face {
    font-family: Norse;
    src: url(./font/Norse-Bold.otf);
}

.text{
    font-family: Norse, Arial, Helvetica, sans-serif;
}

.credit{
    display: flex;
    color: white;
    margin: 1rem;
}

.form{
    display: flex;
    width: calc(100vw - var(--sbw));
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--lightergrey);
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh / 3);
    font-size: x-large;
    font-weight: bold;
}

.header-text{
    margin-left: 50px;
}

.header-end{
    margin: 0px 0px 50px 50px;
}

.body{
    height: calc(100vh / 3);
    background-color: white;
    box-shadow: 0px 10px 5px 0px var(--shadow);
}

.form-text{
    margin: 20px 50px;
    font-size: x-large;
    font-weight: bold;
}

.footer{
    height: calc(100vh / 3);
}

.button{
    margin: 50px 0px 20px 50px;
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 5px var(--shadow);
    color: white;
    background-color: var(--login);
    font-weight: bold;
    font-size: large;
}

.footer-text{
    margin-left: 50px;
    font-size: large;
}

.link-style{
    text-decoration: none;
    color: var(--login);
    font-weight: bold;
}

input{
    display: block;
    margin: 0px 50px 20px 0px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--input-default);
    width: 15rem;
    font-size: large;
}

input:invalid{
    outline-color: red;
}

input:focus{
    outline-color: blue;
    box-shadow: 3px 3px 5px var(--shadow);
}

label{
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bold;
    color: var(--label-text);
}

.form-blocks{
    display: flex;
    margin-left: 50px;
}

.form-block-1{
    display: flex;
    flex-direction: column;
}

.form-block-2{
    display: flex;
    flex-direction: column;
}